.linha{
    background-color: silver;
    height: 20px;
    font-size: 10px;
    height: 60px;
    padding-top: 5px;
    transition: all 0.5s;
}
.linha:hover #nm_solicitante{
    font-size: 18px;
    transition: all 0.5s;
}
#cd_solicitante{
    padding: 5px;
    background-color: #ccc;
}
#nm_solicitante{
    position: absolute;
    width: 200px;
    font-size: 15px;
    padding-left: 5px;
    transition: all 0.5s;
}
#turma{
    position: absolute;
    width: 200px;
    margin-left: 200px;
}
#txt_turma{
    position: absolute;
    width: 400px;
    margin-left: 400px;
}
#fotos{
    position: absolute;
    width: 200px;
    margin-left: 850px;
}
#dt_solicitacao{
    position: absolute;
    width: 200px;
    margin-left: 1200px;
}
.buscas{
    width: 90%;

    height: 200px;
    border:solid 2px #000;
    margin-bottom: 50px;
    border-radius: 10px;
    margin-left: 6%;
    padding: 10px;
}
.conteudo{
    font-size: 15px;
}
