@import url('https://fonts.googleapis.com/css?family=Rammetto+One');


@charset "UTF-8";
*, html, body {
	margin:0;
	padding:0;
	}
... /* mais regras CSS reset */

/* regra para o box-sizing */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* regra para o clear float */
.cf:before,
.cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}

::-webkit-scrollbar {
    width: 10px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
    background-color: #EEE;
    border-left: 1px solid #CCC;
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #BAC0C4;
}

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #717171;
}


body {
	font:  62.5%/1.2 Verdana, Helvetica, Arial, sans-serif;
	
	
}

#ico_menu{
    color: white;
    font-size: 75px;
    text-align: right;
    float: right;
    margin-right: -45px;
    font-family: 'Rammetto One', cursive;
}

#lateral {
	padding:0 50px 0 0;
	-moz-transition: all 0.5s ease; /* Responsável pelo efeito de rolagem da barra lateral */
	-webkit-transition: all 0.5s ease; /* Responsável pelo efeito de rolagem da barra lateral */
	-o-transition: all 0.5s ease; /* Responsável pelo efeito de rolagem da barra lateral */
	transition: all 0.5s ease;/* Responsável pelo efeito de rolagem da barra lateral */
	font-size:1.4em;
	font-family: Open Sans, "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color:#4a86e8;
	height:100%;
	overflow:hidden;
	width:370px; /* Tamanho da Barra Lateral */
	position:fixed;
	top:0;
	left:-370px; /* Distancia de quanto o menu ficará encolhido */
	z-index:99;
}
a{
	text-decoration:none;
	color:#FFF;
}
#lateral:before {
	z-index:1000;
	content: url(icone-menu.png);
	font-size:4em;
	color:white;
	position:fixed;
	left:4px;
	top:45px;
}
#lateral:hover:before, #lateral:focus:before {
	left:-500px;
}
#lateral:hover, #lateral:focus,  #lateral:active  { /* Ativa o efeito de passar o mouse e correr a barra lateral */
	overflow-y:scroll;
	-moz-transform: translate(320px, 0);
	-webkit-transform: translate(320px, 0);
	-o-transform: translate(320px, 0);
	transform: translate(370px, 0);
	padding-right:0;
}	

#lateral .box {
	list-style-type:none;

}
#lateral h3 {
	display:inline-block;
	font-weight:bold;
	font-size:1.6em;
	font-style:normal;
	padding-bottom:0.2em;
	margin: 2em 0 0em 0.81em; /* Margim das opções do Menu */
	color:rgb(255,255,255);
	border-bottom: 2px solid rgb(155,155,155); /* Linha cinza sobre o título do Menu */
}
#menu {
	font-style:italic;
	position:relative;
	font-size:1.0em;
	margin:1em 0 1em -1em;
	padding:10px; /* Espaçamentos dos Menus */
}
#menu li { /* Configuração dos Menus LI (Dos sub-menus */
	padding:0; 
	padding-left:20px;

}
#menu li a,  #menu li a:link { /* Efeito de passar o mouse sobre os Sub Menus (Efeito Hover) */
	font-size:1.2em;
	color:rgb(255,255,255);
	text-decoration: none;
	padding: 0.8em 0 0.8em 1em;
	display: block;
	-moz-transition: all 1.2s ease;
	-webkit-transition: all 1.2s ease;
	-o-transition: all 1.2s ease;
	transition: all 1.2s ease;
}
#menu li a:hover { /* Efeito da sobra na linha inteira sobre os sub menus */
	color:rgb(255,255,255);
	background-color:rgba(255,255,255,0.2);
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
/* ---------------- Formatação para mobile (Design Responsivo) --------------- */
@media (max-width: 500px) {
body {
	margin-left:0;
	background-size:100% 28em!important;
}
#lateral {
	padding:0;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	font-size:1.2em;
	height:100%;
	overflow:auto;
	width:100%; 
	position:static;
	top:0;
	left:0;
}
#lateral:before {
	z-index:1000;
	width:0;
	text-align:center;
	content: "";
	font-size:0;
	color:white;
	position:static;
	top:0;
	left:0;
	display:inline-block; 
}
#lateral:hover, #lateral:focus {
	overflow:scroll;
	-moz-transform: none;
	-webkit-transform: none;
	-o-transform:none;
	transform:none;
}
#menu li a {
	border-bottom:1px solid #ccc;
}
#menu li:first-child a {
	border-top:1px solid #ccc;
}	
}
/* ----------------------------------------- Menu Superior*/
.menu_superior{
	background-color:#FFF;
	width:100%;
	height:80px;
	margin-top:-2px;
	position:relative;
	box-shadow: 0px 3px 3px #ccc;
    margin-bottom: 10px;
}
#logo_menu{
	width:6%;
	margin-top:7px;
	margin-left:45%;
	margin-right:45px;
	position:absolute;	
}
#perfil{
    float: right;
    margin-right: 0px;
    position: relative;
    width: 250px;
    height: 80px;
    transition: all 0.8s;
    z-index: 5;
}
#foto_perfil{
    position: relative;
    width: 60px;
    padding: 10px;
    margin-left:160px;
}
#nm_usuario{
    font-size: 15px;
    position: absolute;
    width: 150px;
    height: 20px;
    margin-top:30px;
    margin-bottom:30px;
    margin-left: 5px;
    text-align: right;
    
}
#opc_perfil{
    width: auto;    
    cursor: pointer;
     z-index: -2;
}
#opc_perfil ul{
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    margin-top: -5px;
    display: block;
    transition: all 1.0s;
}
#opc_perfil ul li{
    transition: all 1.0s;
    padding: 5px;
}
#perfil:hover ul li{
    display: block;
    background-color: dodgerblue;  
    transition: all 1.0s;
    animation: menu 0.5s;
    color: #FFF;
}
@keyframes menu{
    0% {opacity: 0.0;margin-top:-50px;}
    100%{opacity: 1.0;}
}
#perfil:hover ul li:hover{
    display: block;    
    background-color:  #45a3ff;  
    transition: all 1.0s;    
    border-bottom: solid 2px #000;
}
#perfil ul li{
    display: none;
}
#perfil:hover{
    background-color: dodgerblue; 
    cursor: pointer;
}

/*----------------------------------------------*/
.conteudo{
    margin-left: 80px;
}

